* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/*TOP NAVIGATION*/
header {
  position: absolute;
  top: 0rem;
  width: 100%;
  z-index: 99999;
  transition: 0.5s;
}

.topnav {
  overflow: hidden;
  width: 70%;
  margin: auto;

  transition: 0.5s;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 16px;
  margin: auto 1rem;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}

.logo {
  width: 80px;
  float: left;
  display: block;
  padding: 0px;
  margin: auto 1rem;
  margin-top: 19px;
}

#icon {
  float: right;
}

#active {
  display: flex;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
}

#active:hover {
  color: #fff;
}




.TWOsection {
  overflow: hidden;
  width: 70%;
  margin: auto;
  transition: 0.5s;
  height: 675px;
}

.TWOsection h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 24px;
  width: 410px;
}

.TWOsection p {
  font-size: 18px;
  line-height: 28px;
  width: 380px;
  font-weight: 400;
  margin-bottom: 48px;
}


.sign-up-btn {
  width: 125px;
  height: 48px;

  border: 1px solid #2783F3;
  background: #2783F3;
  border-radius: 2px;
  color: white;
}

.here-imag-sec {
  float: right;
}

.main-main {
  width: 100%;
  height: 800px;
  background-image: url("images/Home\ back.png");
  background-size: 100% 100%;
}

.main-main table {
  width: 100%;
  height: 115%;
}

.main-main table td {
  width: 50%;
}

.main-main table td section {
  margin: 5%;
  color: #fff;
}

.second-nav {
  display: flex;
  float: right;
}

.United {
  width: 24px;
  height: 16.7px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.try-btn {
  background: #030F3F;
  border: 1px solid #2B83EA;
  box-sizing: border-box;
  border-radius: 2px;
  width: 81px;
  color: white;
  height: 42px;
}

.pricing-btn {
  width: 115px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 2px;
}

.btn {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.card-wrapper {
  width: 70%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding: 2rem 1rem;
}

.product-title {
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 53px;
  color: #222323;
  margin-bottom: 10px;
}



.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}

.product-detail p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  color: #4F5659;
  margin-bottom: 20px;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail li {
  margin: 0;
  list-style: none;
  background: url(images/check_circle_black_24dp\ 1.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  color: #34393A;
  opacity: 0.9;
  margin-bottom: 20px;
    line-height: 1;
}



.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {


  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  height: 40px;
  background-color: white;
}

.purchase-info input {
  width: 60px;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn:first-of-type {
  background: #256eff;
}

.purchase-info .btn:last-of-type {
  background: #f64749;
}

.purchase-info .btn:hover {
  opacity: 0.9;
}



.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8.5rem;
  margin-top: 10%;

}

.card-wrapper {
  height: 1010px;
  display: flex;
  justify-content: center;

}

.product-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-content {
  padding-top: 0;
}


.star-rating {
  width: 100px;
  display: flex;
  margin-bottom: 25px;
  margin-right: 5px;
}

.tex-rating {
  display: flex;
  margin-top: 40px;
  margin-bottom: 25px;
}

.main-colur-option {
  margin-top: 10px;
  display: flex;
}

.sub-colur-option {
  display: flex;
}

.col-color {
  width: 25%;
}

.quantity-control {
  display: flex;
  align-items: center;

  width: fit-content;

  background: #eaeaea;
  margin-top: 20px;
  margin-bottom: 20px;

}

.quantity-btn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0px 8px;
  cursor: pointer;
  width: 40px;
  font-size: 20px;
}

.quantity-input {
  outline: none;
  user-select: none;
  text-align: center;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.btn-add-to-cart {
  width: 522px;
  height: 72px;
  left: 800px;
  top: 1632px;

  background: #00BA74;
  border-radius: 4px;
  border: 1px solid #00BA74;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-truck-ship {
  display: flex;
}

.img-truck-ship img {
  width: 22px;
  margin-right: 7px;
}

.col-cont {
  text-align: center;
  width: 124px;
  height: 60px;

  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 5px;
  background: #FFFFFF;
  border: 1px solid #D8E0E2;
  box-sizing: border-box;
  border-radius: 6px;
}

.add-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 137% */


  color: #202324;
  margin-bottom: 20px;
}

.img-truck-ship {
  margin-top: 35px;
}

.quantity {
  font-size: 14px;
  margin-bottom: 5px;
  color: #b6b6bf;
}

.col-sections1 {
  font-size: 11px;
  padding: 19px;
}

.col-sections {
  font-size: 11px;
  padding: 10px;
}

.new-col {
  font-size: 10px;
  background: #DE742D;
  height: 14px;
  padding: 3px;
  border: 0px solid #DE742D;
  border-radius: 4px;
}

.new-col1 {
  font-size: 10px;
  background: #A07EDC;
  height: 14px;
  padding: 3px;
  border: 0px solid #A07EDC;
  border-radius: 4px;
}

.bag-add img {
  width: 17px;
  margin-right: 10px;
}

.bag-add {
  display: flex;
  justify-content: center;
}

.buy-sub-section {
  display: flex;
  margin-left: 18px;

}

.buy-sub-section img {
  width: 16px;
  height: 18px;
  margin-left: 4px;
}

.trevapay {
  border: #B1FBE3;
  background: #B1FBE3;
  border-radius: 6px;
  font-style: italic;
  margin-left: -25px;
  font-weight: 700;
}

.dot-images {
  position: absolute;
  width: 11%;
  transition: 0.5s;
  margin-left: 17%;
  z-index: -2;
}

.color-head{
  margin-bottom: 10px;
  color: #b6b6bf;
  font-size: 14px;
}
.bold-class{
font-weight: 700;
}

input[type="radio"] {
background-color: thistle;
}

.main-image-slider{
  display: flex;
}
.left-arrow img{
  width:48px ;
  height:48px ;

}

.right-arrow img{
  width:48px ;
  height:48px ;

}
.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.guarantee-style{
  text-decoration: underline;
    font-weight: 600;
}